<nav>
    <ul>
        <li>
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
        </li>
        <li>
            <a href="{% url 'dashboard:datasets' %}">Datasets</a>
        </li>
    </ul>
    <ul>
        <li>
            <details class="dropdown">
                <summary>Open Datasets</summary>
                <ul class="dropdown-menu" hx-get="{% url 'dashboard:datasets_nav' %}" hx-trigger="load" hx-target="this">
                    <li><em>Loading...</em></li>
                </ul>
            </details>
        </li>
    </ul>
</nav>