<header>
    {{ content_header}}
</header>

{% for paragraph in content_paragraphs %}
    <p>{{ paragraph }}</p>
{% endfor %}

<div id="plot-area" style="width: 100%; height: 600px">
    <script type="application/json" class="vega-spec">{{ spec_json|safe }}</script>
    <script>
        spec = JSON.parse(document.querySelector('#plot-area script.vega-spec').textContent);
        vegaEmbed('#plot-area', spec, {actions: false}).then(function(result) {})
    </script>
</div>
<footer>
    {{ content_footer }}
</footer>