<div class="sidebar"><aside>
    <details open>
        <summary>☰</summary>
        <nav>
            <div class="title">Analysis Displays</div>
            <ul hx-boost="true" hx-target="article">
                <li>
                    <a class="outline" href="{% url 'townhall:plot_pawn_utility' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Utility
                    </a>
                </li>
                <li>
                    <a class="outline" href="{% url 'townhall:plot_entity_positions' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Entity Positions
                    </a>
                </li>
                <li>
                    <a class="outline" href="{% url 'townhall:plot_example_state' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Example State
                    </a>
                </li>
                <li>
                    <a class="outline" href="{% url 'townhall:plot_pawn_state' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Pawn State
                    </a>
                </li>
                <li>
                    <a class="outline" href="{% url 'townhall:plot_pawn_state_duration' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Pawn State Durations
                    </a>
                </li>
                <li>
                    <a class="outline" href="{% url 'townhall:log_viewer' %}{% if dataset_id %}?dataset_id={{ dataset_id }}{% endif %}"
                        spinner-before-load-target="article">
                        Log Viewer
                    </a>
                </li>
            </ul>
        </nav>
    </details>
</aside></div> <!-- .sidebar -->