<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Townhall{% if dataset_id %} - {{ active_dataset }}{% endif %}</title>
    {% include "partial_header_content.html" %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Townhall</h1>
    <header>
        This is the page header
    </header>
        {% include "partial_nav.html" %}

        <main>
            <div class="with-sidebar">
                {% include "partial_sideboard.html" %}
                <div>
                    <article>
                        {% if content %}
                        {{ content }}
                        {% else %}
                        {% include "partial_blank_centre.html" %}
                        {% endif %}
                    </article>
                </div>
            </div> <!-- .with-sidebar -->
        </main>

    <footer>
        This is the page footer
    </footer>
</body>
</html>